<div class="card" [ngClass]="cardClasses" [ngStyle]="{
'border-left':
course.gradeStatus==='passed'
?'6px solid green'
:course.gradeStatus==='failed'
?'6px solid red'
:'6px solid gray'
}"
appHighlight
>

    <h2>{{course.name}}</h2>

    <p><b>Code:</b> {{course.code}}</p>

    <p>
        <b>Credits:</b>
        {{ course.credits | creditFormat }}
    </p>

    <div [ngSwitch]="course.gradeStatus">

        <p *ngSwitchCase="'passed'">
            🟢 Passed
        </p>

        <p *ngSwitchCase="'failed'">
            🔴 Failed
        </p>

        <p *ngSwitchCase="'pending'">
            ⚪ Pending
        </p>

    </div>

    <button (click)="enroll()">
        Enroll
    </button>

    <button (click)="toggleDetails()">
        {{ isExpanded ? 'Hide Details' : 'Show Details' }}
    </button>

    <div *ngIf="isExpanded">

        <hr>

        <p><b>Course ID:</b> {{course.id}}</p>

        <p>This is a CTS Angular Demo Course.</p>

    </div>

</div>